<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to "#", class: "navbar-brand" do %>
    <%= image_tag "https://res.cloudinary.com/df0stqosw/image/upload/v1623479024/Atelier%20409/logos/409-red_fecixt.png" %>
    <% end %>
</div>

<div class="banner">
    <h1>Atelier de conception-réalisation de sites internet</h1>
    <p>A l'Atelier 409, vos idées prennent vie. Laissez-nous vous guider dans la réalisation de votre site internet</p>
    <a class="btn btn-flat" href="#">DEVIS GRATUIT</a>
</div>

<div class="blob">
  <img src="https://res.cloudinary.com/df0stqosw/image/upload/v1623684373/Atelier%20409/409-blob-cropped_uw9svo.png" alt="blob" id="img-blob">
</div>

<h2 class="section-title">Nos services</h2>

<div class="card-grid">
  <div class="card"><%= image_tag "" %></div>
  <div class="card"><%= image_tag "" %></div>
  <div class="card"><%= image_tag "" %></div>
</div>

<h2 class="section-title">Nos réalisations</h2>

<div class="card-grid">
  <%= render 'projects/samba' %>
  <div class="card">DIV</div>
  <div class="card">DIV</div>
</div>

<h2 class="section-title">Notre équipe</h2>

<div class="card-grid">
  <div class="card">DIV</div>
  <div class="card">DIV</div>
  <div class="card">DIV</div>
</div>

<div class="contact">
  <h2 class="section-title">Contact</h2>
  <div class="contact-section row">
      <div class="contact-details col-sm-12 col-md-3">
          <p class="contact-text">contact@atelier409.com</p>
          <p class="contact-text">+33 6 42 43 19 75</p>
          <p class="contact-text">Région de Marseille, France</p>
      </div>
      <div class="col-sm-12 col-md-9">
          <%= render 'contacts/new' %>
      </div>
  </div>
</div>


<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
  </div>
  <div class="footer-copyright">
    Site propulsé par le collectif  de <strong>l'Atelier 409</strong>
  </div>
</div>

