<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to "#", class: "navbar-brand navbar-offset" do %>
    <%= image_tag "https://res.cloudinary.com/df0stqosw/image/upload/v1623479024/Atelier%20409/logos/409-red_fecixt.png" %>
  <% end %>
</div>

<div class="banner">
    <h1>Atelier de conception-réalisation de sites internet</h1>
    <p>A l'Atelier 409, vos idées prennent vie. Laissez-nous vous guider dans la réalisation de votre site internet</p>
    <a class="btn btn-flat" href="">DEVIS GRATUIT</a>
</div>

<div class="blob">
  <img src="https://res.cloudinary.com/df0stqosw/image/upload/v1623684373/Atelier%20409/409-blob-cropped_uw9svo.png" alt="blob" id="img-blob">
</div>

<h2 class="section-title">Nos services</h2>

<div class="card-grid">
  <div class="services">
  <div class="image-services">
    <img src="https://res.cloudinary.com/dv6bffyjj/image/upload/v1623749073/atelier409/noun_responsive_3486316_iixpdt.png" class="card-img-services" alt="site">
  </div>
  <div class="card-title-services">Site vitrine</div>
  <div class="card-text-services">Creation sur-mesure de votre site</div>
  <div class="card-text-services">Un site responsive (adapté à tout type d'écran)</div>
  <div class="card-text-services">Un design unique a votre identité</div>
  <div class="card-text-services">Hébergement</div>
  <div class="card-text-services">Référencement</div>
</div>

  <div class="services">
  <div class="image-services">
    <img src="https://res.cloudinary.com/dv6bffyjj/image/upload/v1623747760/atelier409/noun_E-Commerce_3349557_bfcxeu.png" class="card-img-services" alt="site">
  </div>
<div class="card-title-services">Site E-commerce</div>
 <div class="card-text-services">Creation sur-mesure de votre site e-commerce</div>
  <div class="card-text-services">Solution PrestaShop</div>
  <div class="card-text-services">Paiement en ligne</div>
  <div class="card-text-services">Gestion admin</div>
  <div class="card-text-services">Référencement</div>
  </div>

  <div class="services">
  <div class="image-services">
    <img src="https://res.cloudinary.com/dv6bffyjj/image/upload/v1623749070/atelier409/noun_developing_marketing_3719377_xtoodj.png" class="card-img-services" alt="site">
  </div>
  <div class="card-title-services"> Developpement Web</div>
  <div class="card-text-services">Une idée specifique ?</div>
  <div class="card-text-services">Nous créons votre solution !</div>
  <div class="card-text-services">API</div>
  <div class="card-text-services">Intranet</div>
  </div>

</div>

<h2 class="section-title">Une offre 100% sur mesure</h2>

<div class="card-grid-services">
  <div class="organisation">
    <div class="card-title-orga">Etude de vos besoins</div>
    <div class="image-organisation">
      <img src="https://res.cloudinary.com/gmmb0/image/upload/v1623847679/atelier409/etude.svg.svg" class="card-img-orga"alt="orga">
    <%# <div id="chronologie"><hr></div> %>
    </div>
    <div class="card-text-orga">Définissons un cahier des charges</div>
  </div>

<div class="organisation">
    <div class="card-title-orga">Plannification / Maquette</div>
    <div class="image-organisation">
      <img src="https://res.cloudinary.com/gmmb0/image/upload/v1623849460/atelier409/maquette.svg" class="card-img-orga"alt="orga">
    </div>
    <div class="card-text-orga">Plannification du projet</div>
    <div class="card-text-orga">Réalisation des maquettes</div>
  </div>

  <div class="organisation">
    <div class="card-title-orga">Conception / Developpement</div>
    <div class="image-organisation">
      <img src="https://res.cloudinary.com/gmmb0/image/upload/v1623849606/atelier409/development.svg" class="card-img-orga"alt="orga">
    </div>
    <div class="card-text-orga">Nous créons et developpons votre site</div>
  </div>

<div class="organisation">
    <div class="card-title-orga">Livraison</div>
    <div class="image-organisation">
      <img src="https://res.cloudinary.com/gmmb0/image/upload/v1623849789/atelier409/deliver.svg" class="card-img-orga" alt="orga">
    </div>
    <div class="card-text-orga">Mise en production et livraison </div>
  </div>

  <div class="organisation">
    <div class="card-title-orga">Accompagnement / Suivi</div>
    <div class="image-organisation">
      <img src="https://res.cloudinary.com/gmmb0/image/upload/v1623849917/atelier409/follow.svg" class="card-img-orga"alt="orga">
    </div>
    <div class="card-text-orga">Mises a jour</div>
    <div class="card-text-orga">entretien</div>
  </div>
</div>



<h2 class="section-title">Nos réalisations</h2>

<div class="card-grid">
  <%= render 'projects/samba' %>
  <%= render 'projects/cabbage_leaf' %>
  <%= render 'projects/fil_mecanique' %>
</div>

<h2 class="section-title">Notre équipe</h2>

<div class="card-grid">
  <div class="team">
    <div class="image-team">
      <img src="https://res.cloudinary.com/gmmb0/image/upload/ar_1:1,b_rgb:262c35,bo_0px_solid_rgb:000000,c_fill,g_auto,r_max,w_1000/v1623765984/atelier409/tanguy_xikzdx.png" class="card-img-top" alt="tanguy-leveque-dev">
    </div>
      <div class="card-team-body">
        <h5 class="card-title">Tanguy</h5>
        <p class="card-text">Il n'est pas qu'un développeur passionné et rigoureux ! C'est aussi le plus sportif de la bande. N'essayez pas de voler nos idées, il vous rattraperait en quelques millisecondes.</p>
        <a href="https://www.linkedin.com/in/tanguy-leveque-708183108/" class="btn btn-primary">Linkedin</a>
      </div>
  </div>
    <div class="team">
    <div class="image-team">
      <img src="https://res.cloudinary.com/gmmb0/image/upload/v1623770421/atelier409/beryl_cmjygb.jpg" class="card-img-top" alt="beryl-armand-dev">
    </div>
      <div class="card-team-body">
        <h5 class="card-title">Beryl</h5>
        <p class="card-text">Vous souhaitez des renseignements techniques ? Dans ce cas, c'est à Beryl qu'il faut vous adresser. On lui a octroyé à la majorité absolue le titre de cerveau de l'équipe (normal, c'est la seule fille direz-vous...).</p>
        <a href="https://www.linkedin.com/in/berylarmand/" class="btn btn-primary">Linkedin</a>
      </div>
  </div>
    <div class="team">
      <div class="image-team">
    <img src="https://res.cloudinary.com/gmmb0/image/upload/v1623770998/atelier409/jeremy_qb7a2e.jpg" class="card-img-top" alt="jeremy-lannes-dev">
    </div>
      <div class="card-team-body">
        <h5 class="card-title">Jeremy</h5>
        <p class="card-text">Le plus calme de la bande ...Pas sur ! Le plus créatif c'est lui , il n'a pas son égal pour créer les maquettes tellement belles qu'on transpire rien qu'a savoir qu'il va falloir coder avec des animations de ouf !</p>
        <a href="https://www.linkedin.com/in/jeremy-lannes-1b0086106/" class="btn btn-primary">Linkedin</a>
      </div>
  </div>
</div>

<div class="contact">
  <h2 class="section-title">Contact</h2>
  <div class="contact-section row">
      <div class="contact-details col-sm-12 col-md-3">
          <p class="contact-text">contact@atelier409.com</p>
          <p class="contact-text">+33 6 42 43 19 75</p>
          <p class="contact-text">Région de Marseille, France</p>
      </div>
      <div class="col-sm-12 col-md-9">
          <%= render 'contacts/new' %>
      </div>
  </div>
</div>


<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
  </div>
  <div class="footer-copyright">
    Site propulsé par le collectif  de <strong>l'Atelier 409</strong>
  </div>
</div>

