<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to "#", class: "navbar-brand navbar-offset" do %>
    <%= image_tag "https://res.cloudinary.com/df0stqosw/image/upload/v1623479024/Atelier%20409/logos/409-red_fecixt.png" %>
  <% end %>
</div>

<div class="banner">
    <h1>Atelier de conception-réalisation de sites internet</h1>
    <p>A l'Atelier 409, vos idées prennent vie. Laissez-nous vous guider dans la réalisation de votre site internet</p>
    <a class="btn btn-flat" href="">DEVIS GRATUIT</a>
</div>

<div class="blob">
  <img src="https://res.cloudinary.com/df0stqosw/image/upload/v1623684373/Atelier%20409/409-blob-cropped_uw9svo.png" alt="blob" id="img-blob">
</div>

<h2 class="section-title">Nos services</h2>

<div class="card-grid">

  <div class="services">
    <div class="image-services">
      <img src="https://res.cloudinary.com/df0stqosw/image/upload/v1623918534/Atelier%20409/icons/vitrine_swswvo.png" class="card-img-services" alt="site-vitrine">
    </div>
    <h3 class="card-title-services">Site vitrine</h3>
    <p class="card-text-services">Création sur-mesure de votre site</p>
    <p class="card-text-services">Un site responsive (adapté à tout type d'écran)</p>
    <p class="card-text-services">Un design unique à votre identité</p>
    <p class="card-text-services">Hébergement</p>
    <p class="card-text-services">Référencement</p>
  </div>

  <div class="services">
    <div class="image-services">
      <img src="https://res.cloudinary.com/df0stqosw/image/upload/v1623918534/Atelier%20409/icons/ecommerce_reulqh.png" class="card-img-services" alt="site-ecommerce">
    </div>
    <h3 class="card-title-services">Site E-commerce</h3>
    <p class="card-text-services">Création sur-mesure de votre site e-commerce</p>
    <p class="card-text-services">Solution PrestaShop</p>
    <p class="card-text-services">Paiement en ligne</p>
    <p class="card-text-services">Gestion admin</p>
    <p class="card-text-services">Référencement</p>
  </div>

  <div class="services">
    <div class="image-services">
      <img src="https://res.cloudinary.com/df0stqosw/image/upload/v1623918534/Atelier%20409/icons/developpement_zudeiy.png" class="card-img-services" alt="site-sur-mesure">
    </div>
    <h3 class="card-title-services">Développement Web</h3>
    <p class="card-text-services">Une idée spécifique ?</p>
    <p class="card-text-services">Nous créons votre solution !</p>
    <p class="card-text-services">API</p>
    <p class="card-text-services">Intranet</p>
  </div>

</div>

<h2 class="section-title">Une offre 100% sur-mesure</h2>

<div class="card-grid-organisation">
  <div class="organisation">
    <div class="image-organisation">
      <img src="https://res.cloudinary.com/df0stqosw/image/upload/v1623923690/Atelier%20409/icons/un_dtg1yz.png" class="card-number-orga" alt="etape-1">
      <img src="https://res.cloudinary.com/df0stqosw/image/upload/v1623920103/Atelier%20409/icons/etude_ezktoo.png" class="card-img-orga" alt="etude">
    <%# <div id="chronologie"><hr></div> %>
    </div>
    <h3 class="card-title-orga">Etude de vos besoins</h3>
    <div class="card-text-orga">Définissons un cahier des charges</div>
  </div>

<div class="organisation">
    <div class="image-organisation">
      <img src="https://res.cloudinary.com/df0stqosw/image/upload/v1623924191/Atelier%20409/icons/deux_im48ww.png" class="card-number-orga" alt="etape-2">
      <img src="https://res.cloudinary.com/df0stqosw/image/upload/v1623920103/Atelier%20409/icons/maquette_zemyqb.png" class="card-img-orga" alt="planification">
    </div>
    <h3 class="card-title-orga">Planification / Maquette</h3>
    <div class="card-text-orga">Planification du projet</div>
    <div class="card-text-orga">Réalisation des maquettes</div>
  </div>

  <div class="organisation">
    <div class="image-organisation">
      <img src="https://res.cloudinary.com/df0stqosw/image/upload/v1623924191/Atelier%20409/icons/trois_yqrtgr.png" class="card-number-orga" alt="etape-3">
      <img src="https://res.cloudinary.com/df0stqosw/image/upload/v1623920103/Atelier%20409/icons/conception_hsch1v.png" class="card-img-orga" alt="conception">
    </div>
    <h3 class="card-title-orga">Conception / Développement</h3>
    <div class="card-text-orga">Nous créons et développons votre site</div>
  </div>

<div class="organisation">
    <div class="image-organisation">
      <img src="https://res.cloudinary.com/df0stqosw/image/upload/v1623924191/Atelier%20409/icons/quatre_osfmeb.png" class="card-number-orga" alt="etape-4">
      <img src="https://res.cloudinary.com/df0stqosw/image/upload/v1623920103/Atelier%20409/icons/livraison_m1kp7b.png" class="card-img-orga" alt="livraison">
    </div>
    <h3 class="card-title-orga">Livraison</h3>
    <div class="card-text-orga">Mise en production et livraison</div>
  </div>

  <div class="organisation">
    <div class="image-organisation">
      <img src="https://res.cloudinary.com/df0stqosw/image/upload/v1623924191/Atelier%20409/icons/cinq_nlze4b.png" class="card-number-orga" alt="etape-5">
      <img src="https://res.cloudinary.com/df0stqosw/image/upload/v1623920103/Atelier%20409/icons/suivi_dinfrt.png" class="card-img-orga" alt="accompagnement">
    </div>
    <h3 class="card-title-orga">Accompagnement / Suivi</h3>
    <div class="card-text-orga">Mises à jour</div>
    <div class="card-text-orga">Entretien</div>
  </div>
</div>



<h2 class="section-title">Nos réalisations</h2>

<div class="card-grid">
  <%= render 'projects/samba' %>
  <%= render 'projects/cabbage_leaf' %>
  <%= render 'projects/fil_mecanique' %>
</div>

<h2 class="section-title">Notre équipe</h2>

<div class="card-grid">
  <div class="team">
    <div class="image-team">
      <img src="https://res.cloudinary.com/gmmb0/image/upload/ar_1:1,b_rgb:262c35,bo_0px_solid_rgb:000000,c_fill,g_auto,r_max,w_1000/v1623765984/atelier409/tanguy_xikzdx.png" class="card-img-top" alt="tanguy-leveque-dev">
    </div>
      <div class="card-team-body">
        <h3 class="card-title">Tanguy</h3>
        <p class="card-text">Il n'est pas qu'un développeur passionné et rigoureux ! C'est aussi le plus sportif de la bande. N'essayez pas de voler nos idées, il vous rattraperait en quelques millisecondes.</p>
        <div class="team-links">
          <a href="https://www.linkedin.com/in/tanguy-leveque-708183108/"><i class="fab fa-linkedin"></i></a>
        </div>
      </div>
  </div>
    <div class="team">
    <div class="image-team">
      <img src="https://res.cloudinary.com/gmmb0/image/upload/v1623770421/atelier409/beryl_cmjygb.jpg" class="card-img-top" alt="beryl-armand-dev">
    </div>
      <div class="card-team-body">
        <h3 class="card-title">Beryl</h3>
        <p class="card-text">Vous souhaitez des renseignements techniques ? Dans ce cas, c'est à Beryl qu'il faut vous adresser. On lui a octroyé à la majorité absolue le titre de cerveau de l'équipe (normal, c'est la seule fille direz-vous...).</p>
        <div class="team-links">
          <a href="https://www.linkedin.com/in/berylkoller/"><i class="fab fa-linkedin"></i></a>
        </div>
      </div>
  </div>
    <div class="team">
      <div class="image-team">
    <img src="https://res.cloudinary.com/gmmb0/image/upload/v1623770998/atelier409/jeremy_qb7a2e.jpg" class="card-img-top" alt="jeremy-lannes-dev">
    </div>
      <div class="card-team-body">
        <h3 class="card-title">Jeremy</h3>
        <p class="card-text">Le plus calme de la bande... pas sûr ! Le plus créatif c'est lui, il n'a pas son égal pour créer des maquettes tellement belles qu'on transpire rien qu'à savoir qu'il va falloir coder avec ces animations de ouf !</p>
        <div class="team-links">
          <a href="https://www.linkedin.com/in/jeremy-lannes-1b0086106/"><i class="fab fa-linkedin"></i></a>
        </div>
      </div>
  </div>
</div>

<div class="contact">
  <h2 class="section-title">Contact</h2>
  <div class="contact-section row">
      <div class="contact-details col-sm-12 col-md-3">
          <p class="contact-text">contact@atelier409.com</p>
          <p class="contact-text">+33 6 42 43 19 75</p>
          <p class="contact-text">Région de Marseille, France</p>
      </div>
      <div class="col-sm-12 col-md-9">
          <%= render 'contacts/new' %>
      </div>
  </div>
</div>


<div class="footer">
  <p>Site propulsé par le collectif  de <strong>l'Atelier 409</strong></p>
</div>

